body,
html {
  margin:0;
  padding:0;
  width:100%;
  height:100%
}
body {
  background-color:var(--bg);
  color:var(--fg);
  font-family:var(--font);
  font-size:var(--font-size);
  --font-size: 1rem;
  --padding: 1rem;
  --bgdarker: #000000;
  --bgdark: #0a0a0a;
  --bg: #111111;
  --bglight: #444444;
  --fg: #ffffff;
  --fgdark: #c0c0c0;
  --red: #cb2027;
  --blue: #00c0ff;
  --orange: #ff8c00;
  --green: #00ff00;
  --purple: #ff00ff;
  --darkred: #800000;
  --darkorange: #d2691e;
  --darkblue: #004080;
  --lightgray: #808080;
  --darkgray: #404040;
  --font: "Inconsolata", monospace;
  --size: 35rem;
  --shadow: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}
main {
  padding:var(--padding);
  width:calc(100% - var(--padding) * 2);
  filter:var(--shadow);
  display:flex;
  flex-direction:column;
  justify-content:center;
  text-align:left;
  overflow-wrap:break-word;
  max-width:calc(var(--size) - var(--padding) * 2);
  font-size:var(--font-size)
}
.container {
  display:flex;
  width:100%;
  justify-content:center
}
.badges {
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  width:100%
}

a {
  color:var(--fg)
}

.button {
  image-rendering:pixelated;
  border-radius:0!important;
  margin:0!important
}

button {
  background-color:var(--bgdarker);
  border:0;
  border-radius:0;
  color:var(--fg);
  cursor:pointer;
  padding:.5rem;
  font-family:var(--font)
}
button:disabled {
  cursor:not-allowed;
  color:var(--fgdark)
}
