body {
    background-image:url(https://i.pinimg.com/originals/62/c9/3a/62c93a4cf6462f54fdea6d735d927f9c.gif);
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
}

input[type="text"] {
    border-radius: 10px;
    padding: 15px;
    border: 1px solid #ccc;
}

.animated-text {
    animation: color-change 4s infinite
}

@keyframes color-change {
    0% {color: red;}
    50% {color: blue;}
    75% {color: aqua}
    100% {color: red;}
}